<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
<properties resource="dp.properties"/>

<settings> <!--在比标签配置mybatis的行为-->
	<setting name="logImpl" value="STDOUT_LOGGING" />	<!-- 显示sql日志 -->
	<!-- <setting name="conheEnabled" value="flase" />	关闭缓存 -->
	<!--<setting name="autoMappingBehavior" value="" />-->
</settings>
<!-- 别名配置 -->
<typeAliases>
  <!-- <typeAlias type="com.qin.entity.User" alias="User" /> -->
	<!-- package 关联 实用类 的包路径自动配置别名为类名 -->
	<package name="com.qin.entity" />
</typeAliases>


</configuration>