<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 目前可以随便写,后期要写成接口的全类名 -->
<mapper namespace="dao.UserMapper">

<!--    手动映射数据库列名和实体类的字段名（仅仅只需要配置不一致的字段就ok）-->
    <resultMap id="usermap" type="User">
        <id property="uid" column="uid"/>
        <result property="age" column="age"/>
        <result property="uname" column="uname"/>
    </resultMap>
<!--查询用户和角色信息-->
    <select id="selectAll" resultMap="usermap">
        select *      from usert
    </select>
    <delete id="delete">
        delete from usert
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="entity.User">
        insert into usert
        set userCode = #{userCode},userName = #{userName},userPassword = #{userPassword}
    </insert>
</mapper>